body {
    background-image: url('https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    margin: 0; 
    padding: 0;
    color: white;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.landing-content {
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}

#search{
    position: relative;
    margin-top: -400px;
    visibility: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#go-LP {
    position: absolute;
    right: 15px;
    margin-top: -65px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 45px;
    color: aqua;
}

#divMovies {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

#divMovies > div {
    width: calc(20% - 10px);
}

img.img-movie {
    width: 200px;
    height: 320px;
    cursor: pointer;
}

#search-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}

#search-container > input{
    width: 400px;
    height: 35px;
}

#filters >  input{
    width: 40px;
    height: 35px;
}

#filters >  select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90px;
    height: 40px;
    background-image: url('https://media.posterlounge.com/img/products/650000/643985/643985_poster.jpg');
    background-position: center center;
    background-attachment: fixed; 
    padding: 5px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    color: darkblue;
    border-style: none;
    border-radius: 10px;
}

#load-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

button{
    background-image: url('https://media.posterlounge.com/img/products/650000/643985/643985_poster.jpg');
    background-position: center center;
    background-attachment: fixed; 
    padding: 5px;
    height: 40px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: darkblue;
    border-style: none;
    border-radius: 10px;
}

#btn-search {
    background: none;
    background-image: none;
    border-style: none;
    font-size: 25px;
    margin-left: -60px;
    color: cadetblue;
}

#error{
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style: none;
}

#sectDetailMovie {
    position: fixed;        /* se coloca respecto a la ventana */
    top: 50%;              
    left: 50%;
    transform: translate(-50%, -50%);  /* corrección para centrar */
    background: #111;       /* opcional: fondo */
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;          /* para que quede por encima */
    display: none;          /* lo ocultas hasta que se abra */
}

#load{
    visibility: hidden;
    text-align: center;
    height: 50px;
}

#load img{
    height: 100%;
    width: 50px;
}

@media screen and (max-width: 1300px){
    #divMovies > div {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 1000px){
    #divMovies > div {
        width: calc(33% - 10px);
    }
}

@media screen and (max-width: 700px){
    #divMovies > div {
        width: calc(50% - 10px);
    }
}