body {
    background-image: url('https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    margin: 0; 
    padding: 0;
    color: white;
}

#landing-page{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#search-page{
    position: relative;
    margin-top: -115px;
    visibility: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#go-SP, #go-LP {
    position: absolute;
    top: 15px;
    right: 15px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 45px;
    color: aqua;
}

#divMovies {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

#divMovies > div {
    width: calc(20% - 10px);
}

img {
    width: 200px;
    height: 320px;
}

#search-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}

#search-container input{
    width: 400px;
    height: 35px;
}

#load-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

button{
    background-image: url('https://media.posterlounge.com/img/products/650000/643985/643985_poster.jpg');
    background-position: center center;
    background-attachment: fixed; 
    padding: 5px;
    height: 40px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: darkblue;
    border-style: none;
    border-radius: 10px;
}

#btn-search {
    background: none;
    background-image: none;
    border-style: none;
    font-size: 25px;
    margin-left: -60px;
    color: cadetblue;
}

#error{
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style: none;
}

@media screen and (max-width: 1300px){
    #divMovies > div {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 1000px){
    #divMovies > div {
        width: calc(33% - 10px);
    }
}

@media screen and (max-width: 700px){
    #divMovies > div {
        width: calc(50% - 10px);
    }
}