body {
    background-image: url('https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    margin: 0; 
    padding: 0;
    color: white;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.landing-content {
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}

#search{
    position: relative;
    margin-top: -400px;
    visibility: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons {
    position: fixed;
    top: 10px;
    right: 15px;
}

.buttons i{
    color: crimson;
    font-size: 1rem;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 45px;
    color: aqua;
}

#divMovies {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

#divMovies > div {
    width: calc(20% - 10px);
    position: relative;
}

.icon-heart {
    font-size: 1.5rem;
    position: absolute;
    top: 30px;
    right: 60px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    color: crimson;

    transform: scale(1);
    transition: transform 0.3s ease; 
}

img.img-movie {
    width: 200px;
    height: 320px;
    cursor: pointer;
    border: double rgba(199, 132, 212, 0.6) 2.5px;
    border-radius: 10px;

    transform: scale(1);
    transition: transform 0.3s ease;
}

img.img-movie:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

#divMovies > div:hover .img-movie {
    transform: scale(1.1);
}

#divMovies > div:hover .icon-heart {
    transform: scale(1.3);
}

figcaption{
    margin-top: 10px;
}

#search-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}

.blur-background {
    position: relative;
    filter: brightness(50%);
    pointer-events: none;
    transition: filter 0.3s ease;
}

#search-container > input{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    padding-left: 15px
}

#filters >  input{
    width: 40px;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px
}

#filters >  select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    height: 40px;
    background-image: url('https://media.posterlounge.com/img/products/650000/643985/643985_poster.jpg');
    background-position: center center;
    background-attachment: fixed; 
    padding: 5px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    color: darkblue;
    border-style: none;
    border-radius: 10px;
}

#load-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

button{
    background-image: url('https://media.posterlounge.com/img/products/650000/643985/643985_poster.jpg');
    background-position: center center;
    background-attachment: fixed; 
    padding: 5px;
    height: 40px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: darkblue;
    border-style: none;
    border-radius: 10px;
}

#btn-search {
    background: none;
    background-image: none;
    border-style: none;
    font-size: 25px;
    margin-left: -60px;
    color: cadetblue;
}

#error{
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style: none;
}

#sectDetailMovie {
    background-image: url('https://media.posterlounge.com/img/products/650000/643985/643985_poster.jpg');
    background-position: center center;
    background-attachment: fixed; 
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 80vh;
    overflow-y: auto;

    background-color: rgba(0,0,0,0.9);
    padding: 40px 50px;
    border-radius: 10px;

    display: flex;
    visibility: hidden;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 40px; 
}

#poster-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

#poster-container img{
    border: double purple 7px;
    border-radius: 10px;
}

#sectDetailMovie > ul{
    background-color: rgba(199, 132, 212, 0.6);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

#sectDetailMovie > ul > li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 120);
    text-align: left;
    margin: 10px;
}

#detail-movie-ratings-list{
    margin-top: 5px;
}

li.empty {
  height: 10px;
}

#backToSearch {
    position: sticky;
    top: 10px;
    font-size: 2rem;
    color: aqua;
    cursor: pointer;
}

#load{
    visibility: hidden;
    text-align: center;
    height: 50px;
}

#load img{
    height: 100%;
    width: 50px;
}

#favs{
    display: flex;
    position: absolute;
    visibility: hidden;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -250px;
    
}

#go-back-SP{
}

#sectFavMovies {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: auto;
    gap: 10px;
    text-align: center;
}


#sectFavMovies > div {
    position: relative;
}


#sectFavMovies .icon-heart {
    font-size: 1.5rem;
    position: absolute;
    top: 30px;
    right: 50px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    color: crimson;

    transform: scale(1);
    transition: transform 0.3s ease;
}


#sectFavMovies img.img-movie {
    width: 200px;
    height: 320px;
    cursor: pointer;
    border: double rgba(199, 132, 212, 0.6) 2.5px;
    border-radius: 10px;

    transform: scale(1);
    transition: transform 0.3s ease;
}

#sectFavMovies > div:hover .img-movie {
    transform: scale(1.1);
}

#sectFavMovies > div:hover .icon-heart {
    transform: scale(1.3);
}

#sectFavMovies figcaption {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: aqua;
}


@media screen and (max-width: 1400px){
    #divMovies > div {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 1100px){
    #divMovies > div {
        width: calc(33% - 10px);
    }
}

@media screen and (max-width: 800px){
    #divMovies > div {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 700px){
    #search-container > input{
        width: 400px;
    }
}

@media screen and (max-width: 650px){
    #search-container > input{
        width: 350px;
    }
}

@media screen and (max-width: 600px){
    #search-container > input{
        width: 300px;
    }
}

@media screen and (max-width: 550px){
    #search-container > input{
        width: 250px;
    }
}

@media screen and (max-width: 500px){
    #divMovies > div {
        width: calc(100%);
    }

    #search-container > input{
        width: 200px;
    }
}